* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}
.todo-list {
  margin-top: 50px;
  width: 400px;
}
.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: solid 1px transparent;
  border-bottom: solid 3px #ccc;
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
}
.add-input {
  height: 55px;
  font-size: 23px;
  outline: none;
  border: none;
}
.add-btn {
  padding: 8px 14px;
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: #95bbe9;
}
.task-list {
  list-style-type: none;
}
#task-item {
  background-color: white;
  padding: 0 20px;
  border-bottom: solid 2px #ccc;
  line-height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.task-item:last-child {
  border-radius: 0 0 6px 6px;
}
.task-item i {
  color: #ccc;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.task-item:hover i {
  display: block;
}
.task-item span {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#task-item.completed span {
  color: #b6b6b6;
  text-decoration: line-through;
}
